@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.cdnfonts.com/css/pigarnos-neue');

* {
    margin: 0;
    font-family: 'SF Pro Display', sans-serif;
}

main {
    background: url(../img/BACK.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}


header {
    background-image: linear-gradient(45deg, #0D0D0D, #1C1240);
    height: 100px;
}

header h1 {
    font-family: 'PIGARNOS NEUE', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    padding: 35px 0px;
}

.background {
    display: flex;
    background-color: #ffffff15;
    border-radius: 15px;
}

form {
    background-image: linear-gradient(to top, #0d0d0d, rgba(21, 16, 75, 0.459));
    margin: auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 0px 10px 10px 10px;
    border-bottom: 2px solid #ffffff60;
}



h2 {
    font-weight: bolder;
    color: #fff;
    text-decoration: underline;
}

div.form-content {
    margin: 10px;
    height: max-content;
    width: fit-content;
    border-radius: 10px;

}

.line {
    background-color: #ffffff44;
    width: 1px;
}

.required-field {
    color: #c869ff;
}

.optional {
    margin-top:5px;
    background-color: #5d4f6693;
    border-radius: 10px;
    justify-content: space-between;
}

.optional label {
    padding: 5px;
    font-size: 1.3em;
}

.optional li {
    display: flex;

}

.box-input {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-input input {
    margin-top: 10px;
    height: 30px;
    width: 250px;
    text-align: center;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    color: #0d0d0d;
}

label {
    color: #ffffff;
}

div#save>input {
    margin-top: 8px;
    cursor: pointer;
    font: bold 2em 'SF Pro Display', sans-serif;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 200ms ease-in-out;
}

div#save>input:hover {
    background-color: rgb(129, 83, 255);
    color:#fff;
    border: 2px solid #fff;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    width: 12px;
    box-shadow: inset 0 0 .3rem #00000050;
    background-color: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: #149ddd;
}


footer {
    margin: 0 auto;
    padding: 7px;
    text-align: center;
    background-image: linear-gradient(45deg, #0D0D0D, #1C1240);
    color: #fff;
    font-weight: lighter;
    letter-spacing: 1px;

}