@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.cdnfonts.com/css/pigarnos-neue');

* {
    margin: 0;
    font-family: 'SF Pro Display', sans-serif;
}

main {
    background-color: #353535;
}


header {
    background-image: linear-gradient(45deg, #0D0D0D, #1C1240);
    height: 110px;
}

header h1 {
    font-family: 'PIGARNOS NEUE', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    padding: 35px 0px;
}

.background {
    display: flex;
    background-color: #ffffff15;
    border-radius: 15px;

}

form {
    background-image: linear-gradient(to top, #0d0d0d, rgba(21, 16, 75, 0.459));
    margin: auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    border-bottom: 2px solid #ffffff60;
}



h2 {
    font-weight: bolder;
    color: #fff;
}

div.form-content {
    margin: 10px;
    height: max-content;
    width: fit-content;
    border-radius: 10px;

}

.line {
    background-color: #ffffff44;
    width: 1px;
}

.required-field {
    color: #c869ff;
}

.optional {
    background-color: #5d4f6693;
    border-radius: 10px;
    justify-content: space-between;
}

.optional label {
    padding: 10px;
    font-size: 1.5em;
}

.optional li {
    display: flex;

}

.box-input {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-input input {
    margin-top: 10px;
    height: 30px;
    width: 250px;
    text-align: center;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    color: #0d0d0d;
}

label {
    color: #ffffff;
}

div#save>input {
    margin-top: 15px;
    cursor: pointer;
    font: bold 2em 'SF Pro Display', sans-serif;
    padding: 10px;
    border: none;
    border-radius: 4px;
    transition: 500ms ease-in-out;
}

div#save>input :hover {
    color
}




footer {
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    background-color: #0D0D0D;
    color: #fff;
    font-weight: lighter;
    letter-spacing: 1px;

}